<div class="topform_block">
	<div class="title">Вход в аккаунт</div>
	<iframe style="display:none;" name="login"></iframe>
	<form method="post" action="<?=_SITE?>inc/login.php?login" target="login">
		<input type="text"  class="ibox" name="login_email" placeholder="Ваш E-mail"/>
		<input type="password"  class="ibox"  name="login_passw" placeholder="Пароль"/>
		<input  type="submit" class="buttons" value="Войти" />		
		<a href="/new" class="registration">регистрация</a>
	</form>
</div>	
<div class="topform_block">
	<div class="title">Забыли пароль?</div>
	<form method="post" action="<?=_SITE?>inc/login.php?restore" target="login">
		<input type="text"  class="ibox" name="remail" placeholder="Ваш E-mail"/>
		<input  type="submit" class="buttons" value="Отправить" style="position: relative;top: -10px;"/></td>
	</form>
</div>	
