<section id="account_info" class="centered">
	<div class="accountInfo_block column left">
		<h3>Вход в аккаунт</h3>
		<iframe style="display:none;" name="login"></iframe>
		<form method="post" action="<?=_SITE?>inc/login.php?login" target="login" id="login_form">
		<div class="row importan">
			<div class="label">E-mail (ID аккаунт):</div>
			<input type="text" class="input" name="login_email" placeholder="E-mail" />
		</div>
		<div class="row importan">
			<div class="label">Пароль:</div>
			<input type="password" class="input" name="login_passw" placeholder="Пароль" />
		</div>
		<a href="javascript:$('#login_form').submit();" class="account_btn change_left">Войти</a>
		</form>
		<h3>Восстановление пароля</h3>
		<form method="post" action="<?=_SITE?>inc/login.php?restore" target="login" id="restore_form">
		<div class="row importan">
			<div class="label">E-mail (ID аккаунт):</div>
			<input type="text" class="input" name="remail" placeholder="E-mail" />
		</div>
		<a href="javascript:$('#restore_form').submit();" class="account_btn change_left">Отправить</a>
		</form>	
	</div>
	<div class="accountInfo_block column right">
		<h3>Регистрация</h3>
		<iframe name="account" style="display:none;visibility:hidden;"></iframe>
		<form method="POST" action="/inc/new.php?rg" target="account" id="new_form">
		<div class="row importan">
			<div class="label">E-mail (ID аккаунт):</div>
			<input type="text" class="input" name="email" placeholder="E-mail" />
		</div>
		<div class="row importan">
			<div class="label">Пароль:</div>
			<input type="password" class="input" name="passw" placeholder="Пароль" />
		</div>
		<div class="row importan">
			<div class="label">Повторите пароль:</div>
			<input type="password" class="input" name="repassw" placeholder="Повторите пароль" />
		</div>
		<?$fields = sql_arr("SELECT * FROM clients_fields WHERE in_register=1 ORDER BY showorder");
		foreach($fields as $field){?>
			<div class="row">
				<input type="text" class="input" name="<?=$field["code"]?>" value="" placeholder="<?=$field["title"]?>" />
			</div>
		<?}?>
		<a href="javascript:$('#new_form').submit();void(0);" class="account_btn change_left">Регистрация</a>
		</form>		
	</div>
</section>
<script>
	function setFieldValue(field,value){
		$("input[name="+field+"]").val(value);
	}
	function setField(field){
		$div=$("div[data-field-code="+field+"]");
		$div.find('.item').toggleClass('active');
		var value=$div.find(".item.active").html();
		setFieldValue(field,value);
	}
</script>